
.accordion {
    margin: 1rem;
}

.accordion-button {
  /* background-color: gray !important; */
}

.accordion-button:focus {
  box-shadow: none;
}

.accordion-button:not(.collapsed) {
  color: #212529;
}

.to-do, .completed {
  height: 2vh;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.completed {
  background-color: #198754;
}

.to-do {
  background-color: #ffc107;
}

.deadline-missed {
  background-color: #dc3545 !important;
}